<section class="accounttype">

   <h1>Select Your Account Type</h1>
   <div class="options">

      <button (click)="selectAccountType()" [ngStyle]="{
        'background-color' : primaryColor,
        'box-shadow' : boxShadow,
        }">
        <img src="assets/images/buyer.png" alt="buyer">
        <p>Buyer</p>
      </button>
      
      <button (click)="selectAccountType()" [ngStyle]="{
        'background-color' : white ,
         'color': ash,
         'box-shadow' : boxShadow2,
         }">
          <img src="assets/images/seller.png" alt="seller">
        <p>Seller</p>
      </button>


   </div>

   <div class="next">
    <button routerLink="auth/signup">Next</button>
   </div>

</section>