@use 'variables' as *;
@use 'mixins' as *;

.signup{
    height: 100vh;
    width: 90%;
    margin: auto;
   
}

.form{
    width: 100%;
    height: 300px;
    margin-top: 60px;
}

.submit{
    width: 100%;
    height: 45px;
    background-color: $primary-color;
    color: $white;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-block: 30px ;

    &:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        transform: translateY(-1px);
    }
}