<section class="signup">
    <h1>Create <br> An  Account</h1>

    <div class="form">

        <form (ngSubmit)="onsubmit()">
    <!-- username field -->
        <app-input-field
        
         type="text" 
         placeholder="Enter your full name" 
         [(model)]="username">
        

      </app-input-field>

       <!-- Email field -->
      <app-input-field
        
         type="email" 
         placeholder="Enter your email" 
         [(model)]="email">
        

      </app-input-field>


      <!-- password field  -->
        <app-input-field
            
             type="password" 
             placeholder="Enter your password" 
             [(model)]="password">
        </app-input-field>
        
        
        <!-- confirm password field -->
        <app-input-field
            
             type="password" 
             placeholder="Confirm your password" 
             [(model)]="confirmPassword">
        </app-input-field>

        <!-- checkbox -->
        <app-custom-checkbox
          [(checked)]="isAccepted"
          label="I agree to the terms">

        </app-custom-checkbox>


        <br>
        <!-- submit button -->
        <button class="submit" type="submit">Sign up</button>
        </form>

        <!-- or -->
        <div class="or">
            <span></span>
            <p>Or</p>
            <span></span>
        </div> 
        
        <!-- alternatively sign up with -->

        <div class="alt-signup">
            <button>
                <img src="assets/images/google.png" alt="google">
               
            </button>

            <button>
                <img src="assets/images/facebook.png" alt="facebook">
                
            </button>
          </div>  

          <!-- already have an account? -->
            <div class="login">
                <p>Already have an account?

                <a routerLink="/auth/login">Log in</a>

                </p>
            </div>    
    </div>
</section>